/****************************
 * GENERAL SETTINGS
 * DESKTOP FIRST
****************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEBUG */
.box {
  background: #fff;
}

/* APP */

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #ccc;
}

/* MAIN */

.main-content {
  flex-grow: 1;
  display: flex;
}

/* ASIDE */

.menu-left {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.menu-left-nav {
  flex-grow: 1;
  background: red;
}

.menu-left-nav .box {
  margin: 20px 0;
  height: 80px;
  width: 100%;
}

.menu-left-login {
  height: 100px;
  background: green;
}

/* FOOTER */

.player {
  height: 100px;
  background: #000;
}

/* MEDIA QUERY */
/* SMARTPHONE */
@media screen and (max-width: 600px){

  /* ASIDE */
  .menu-left {
    flex-basis: 60px
  }

}
