/****************************
 * DESKTOP FIRST
****************************/

/* GENERAL SETTINGS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

/* TYPOGRAPHY */

h2,
h4,
h5 {
  font-weight: 700;
}

h2 {
  font-size: 28px ;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
  text-transform: uppercase;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: rgba(153, 153, 153, .7);
}

/* APP */

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-window {
  flex-grow: 1;
  background: #141921;
}

.player {
  flex-basis: 80px;
  background: #272727;
}

/* MEDIA QUERY */
/* TABLET */
@media screen and (max-width: 1024px) {

}

/* SMARTPHONE */
@media screen and (max-width: 600px) {

}
