/****************************
 * GENERAL SETTINGS
 * DESKTOP FIRST
****************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEBUG */
.box {
  background: #fff;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #ccc;
}

/* APP */

.app {
  flex-grow: 1;
  display: flex;
}

/* ASIDE */

.menu-left {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.menu-left-nav {
  flex-grow: 1;
  background: red;
}

.menu-left-nav .box {
  margin: 20px 0;
  height: 80px;
  width: 100%;
}

.menu-left-login {
  height: 100px;
  background: green;
}

/* MAIN CONTENT */
.main-content {
  position: relative;
  background: darkorange;
  flex-grow: 1;
}

/* UPGRADE */

.upgrade {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, .5);
}

.upgrade-button {
  align-self: center;
  padding: 20px;
  margin-right: 20px;
  background: #ddd;
}

/* SCROLLABLE CONTENT */

.scrollable-content {
  border: solid blue 5px;
  padding: 110px 20px 20px;
  height: 100%;
  width: 100%;
}

.navbar {
  background: #ddd;
  padding: 20px;
  text-align: center;
}

/* FOOTER */

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100px;
  background: #000;
  color: #fff;
}

/* MEDIA QUERY */
/* SMARTPHONE */
@media screen and (max-width: 600px){

  /* ASIDE */
  .menu-left {
    flex-basis: 60px
  }

}
